<div class="modal-header">
    <h4 class="modal-title">Save Message</h4>

    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="closeAlert()">
        <span aria-hidden="true">x</span>
    </button>
</div>

<div class="modal-body">
    <div class="row justify-content-center">

        <div class="col-md-8">
            <h2>Your Data has been saved </h2>
        </div>

        <div class="col-md-8">
            <button type="button" class="btn btn-primary" (click)="closeAlert()">
                <span aria-hidden="true">Close</span>
            </button>
        </div>
    </div>
</div>
