table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 4px #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.container-fluid {
  margin-top: 10px;
  background-color: #e0ffff !important;
}
.col-12 {
  margin: 20px;
}
.container {
  margin-bottom: 10px;
  margin-top: 20px;
}
.col-8 {
  margin-top: 30px;
}
input[type='checkbox'] {
  width: 30px;
  height: 20px;
}
.form-row {
  margin: 10px;
}
.column {
  width: 100%;
  margin-top: 30px;
  padding-right: 5px;
  padding-left: 5px;
}
