<div>
    <h2 id="page-heading">
        <span>Notifications</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notification" [routerLink]="['/notification/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Notification
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="notifications?.length === 0">
        <span>No notifications found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="notifications && notifications.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="message"><span>Message</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="readStatus"><span>Read Status</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="customerId"><span>Customer</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let notification of notifications ;trackBy: trackId">
                <td><a [routerLink]="['/notification', notification.id, 'view']">{{ notification.id }}</a></td>
                <td>{{ notification.message }}</td>
                <td>{{ notification.readStatus }}</td>
                <td>
                    <div *ngIf="notification.customerId">
                        <a [routerLink]="['/notice', notification.customerId , 'view']" >{{ notification.customerId }}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/notification', notification.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/notification', notification.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
