<div class="container-fluid">
<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="shutter">
            <h2><span jhiTranslate="rentalUiApp.shutter.detail.title">Shutter</span> {{ shutter.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <table>
                <tr>
                    <th><span jhiTranslate="rentalUiApp.shutter.shutterNo">Shutter No</span></th>
                    <th><span jhiTranslate="rentalUiApp.shutter.itemCode">Item Code</span></th>
                    <th><span jhiTranslate="rentalUiApp.shutter.area">Area</span></th>
                    <th><span jhiTranslate="rentalUiApp.shutter.rate">Rate</span></th>
                    <th><span jhiTranslate="rentalUiApp.shutter.floorN">Floor N</span></th>
                    <th><span jhiTranslate="rentalUiApp.shutter.createdDate">Created Date</span></th>
                    <th><span jhiTranslate="rentalUiApp.shutter.updatedDate">Updated Date</span></th>
                    <th><span jhiTranslate="rentalUiApp.shutter.deleted">Deleted</span></th>
                    <th><span jhiTranslate="rentalUiApp.shutter.insertedBy">Inserted By</span></th>
                    <th><span jhiTranslate="rentalUiApp.shutter.updatedBy">Updated By</span></th>
                    <th><span jhiTranslate="rentalUiApp.shutter.status">Status</span></th>
                </tr>
                 <tr>
                     <td> <span>{{ shutter.shutterNo }}</span></td>
                     <td> <span>{{ shutter.itemCode }}</span></td>
                     <td> <span>{{ shutter.area }}</span></td>
                     <td> <span>{{ shutter.rate }}</span></td>
                     <td> <span><a [routerLink]="['/floor', shutter.floorId, 'view']">{{ shutter.floorN }}</a></span></td>
                     <td>   <span>{{ shutter.createdDate | date:'medium' }}</span></td>
                     <td> <span>{{ shutter.updatedDate | date:'medium' }}</span></td>
                     <td><span>{{ shutter.deleted }}</span></td>
                     <td> <span>{{ shutter.insertedBy }}</span></td>
                     <td><span>{{ shutter.updatedBy }}</span></td>
                     <td> <span>{{ shutter.status }}</span></td>
                 </tr>
            </table>


            <div class="row justify-content-center"style="margin-top:30px;">
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shutter', shutter.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
            </div>
        </div>
    </div>
</div>
</div>
