<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
    <h2 id="page-heading">
        <span jhiTranslate="rentalUiApp.floor.home.title">Floors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-floor" [routerLink]="['/floor/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rentalUiApp.floor.home.createLabel">
            Create a new Floor
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                <div>
                    <jhi-alert-error></jhi-alert-error>
                    <div class="form-group col-4">
                        <label class="form-control-label" for="field_content">Upload Excel File Containing Stall</label>
                        <input type="file" class="form-control" name="content" id="field_content" (change)="selectFile($event)"
                               formControlName="content"/>
                        <div
                            *ngIf="editForm.get('content')!.invalid && (editForm.get('content')!.dirty || editForm.get('content')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('content')?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>

                <div style="margin-bottom: 10px;margin-top: 10px;">
                    <button type="reset" id="cancel-save" class="btn btn-secondary">
                        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>

                    <button type="submit" id="save-entity" [disabled]="editForm.invalid" class="btn btn-primary">
                        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>

    <div class="alert alert-warning" id="no-result" *ngIf="floors?.length === 0">
        <span jhiTranslate="rentalUiApp.floor.home.notFound">No floors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="floors && floors.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="rentalUiApp.floor.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="rentalUiApp.floor.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="remarks"><span jhiTranslate="rentalUiApp.floor.remarks">Remarks</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let floor of floors ;trackBy: trackId">
                    <td><a [routerLink]="['/floor', floor.id, 'view']">{{ floor.id }}</a></td>
                    <td>{{ floor.code }}</td>
                    <td>{{ floor.name }}</td>
                    <td>{{ floor.remarks }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/floor', floor.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/floor', floor.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(floor)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="floors && floors.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
    </div>
</div>
