<div class="container-fluid">
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-floor-heading" jhiTranslate="rentalUiApp.floor.home.createOrEditLabel">Create or edit a Floor</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-row">
                <div class="form-group col-4" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>
                </div>

                <div class="form-row">
                <div class="form-group col-4">
                    <label class="form-control-label" jhiTranslate="rentalUiApp.floor.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                    <div class="form-group col-4">
                        <label class="form-control-label" jhiTranslate="rentalUiApp.floor.name" for="field_name">Name</label>
                        <input type="text" class="form-control" name="name" id="field_name"
                               formControlName="name"/>

                        <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                <div class="form-group col-6">
                    <label class="form-control-label" jhiTranslate="rentalUiApp.floor.remarks" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
<!--                    <div *ngIf="editForm.get('remarks')!.invalid && (editForm.get('remarks')!.dirty || editForm.get('remarks')!.touched)">-->
<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="editForm.get('remarks')?.errors?.required" jhiTranslate="entity.validation.required">-->
<!--                        This field is required.-->
<!--                        </small>-->
<!--                    </div>-->
                </div>
                </div>
<!--                                    <div class="form-row">-->
<!--                                        <div class="form-group col-6" style="padding-right:30px;">-->
<!--                                            <label class="form-control-label"-->
<!--                                            >Block</label>-->
<!--                                            <select-->
<!--                                                *ngIf="!this.showEdit"-->
<!--                                                class="form-control" name="blocks" multiple-->
<!--                                                formControlName="blocks" required>-->
<!--                                                <option-->
<!--                                                    *ngFor="let block of blockList" [ngValue]="block">-->
<!--                                                    {{ block.name }}-->
<!--                                                </option>-->
<!--                                            </select>-->
<!--                                            <select *ngIf="this.showEdit" (change)="getBlocks()" class="form-control" multiple name="Blocks"-->
<!--                                                    formControlName="blocks">-->
<!--                                                <option *ngFor="let block of this.editForm.get('blocks')!.value"  [ngValue]="block"-->
<!--                                                        selected>-->
<!--                                                    {{block.name}}</option>-->
<!--                                                <option *ngFor="let block of remainingBlocks" [value]="block">{{ block.name }}</option>-->

<!--                                            </select>-->
<!--                                        </div>-->
<!--                                    </div>-->


              <!--  <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rentalUiApp.floor.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rentalUiApp.floor.updatedDate" for="field_updatedDate">Updated Date</label>
                    <div class="d-flex">
                        <input id="field_updatedDate" type="datetime-local" class="form-control" name="updatedDate" formControlName="updatedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rentalUiApp.floor.deleted" for="field_deleted">Deleted</label>
                    <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                           formControlName="deleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rentalUiApp.floor.insertedBy" for="field_insertedBy">Inserted By</label>
                    <input type="text" class="form-control" name="insertedBy" id="field_insertedBy"
                           formControlName="insertedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rentalUiApp.floor.insertedById" for="field_insertedById">Inserted By Id</label>
                    <input type="number" class="form-control" name="insertedById" id="field_insertedById"
                           formControlName="insertedById"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rentalUiApp.floor.updatedBy" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                           formControlName="updatedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rentalUiApp.floor.updatedById" for="field_updatedById">Updated By Id</label>
                    <input type="number" class="form-control" name="updatedById" id="field_updatedById"
                           formControlName="updatedById"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rentalUiApp.floor.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>-->


            <div style="margin-top: 20px;">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
            </div>
        </form>
    </div>
</div>
</div>
