<div>
    <h2 id="page-heading">
        <span jhiTranslate="rentalUiApp.meternumber.home.title">Meternumbers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-meternumber" [routerLink]="['/meternumber/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rentalUiApp.meternumber.home.createLabel">
            Create a new Meternumber
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="meternumbers?.length === 0">
        <span jhiTranslate="rentalUiApp.meternumber.home.notFound">No meternumbers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="meternumbers && meternumbers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="meterNumber"><span jhiTranslate="rentalUiApp.meternumber.meterNumber">Meter Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="floorId"><span jhiTranslate="rentalUiApp.meternumber.floorId">Floor Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="customerId"><span jhiTranslate="rentalUiApp.meternumber.customerId">Customer Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="blockId"><span jhiTranslate="rentalUiApp.meternumber.blockId">Block Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let meternumber of meternumbers ;trackBy: trackId">
                    <td><a [routerLink]="['/meternumber', meternumber.id, 'view']">{{ meternumber.id }}</a></td>
                    <td>{{ meternumber.meterNumber }}</td>
                    <td>{{ meternumber.floorId }}</td>
                    <td>{{ meternumber.customerId }}</td>
                    <td>{{ meternumber.blockId }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/meternumber', meternumber.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/meternumber', meternumber.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(meternumber)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="meternumbers && meternumbers.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
